.offpage {
    position: absolute;
    left: -1000px;
}

.offpage:focus {
    position: static;
}

body {
    background-color: #222831;
}

header {
    background-color: #393E46;
    border: 0.5rem ridge #393E46;
    font-family: monospace;
    color: #F4EDD3;
}

main {
    background-color: #393E46;
    border: 0.5rem ridge #393E46;
    color: #F4EDD3;
}

footer {
    background-color: #393E46;
    border: 0.5rem ridge #393E46;
    color: #F4EDD3;
}

img {
    width: 100%;
}

.nav-link {
    font-family: monospace;
    color: #F4EDD3;
    border: 0px solid #F4EDD3;
    border-left-width: 0.1rem;
}

.nav-link:hover {
    color: #F4EDD3;
    opacity: 50%;
}

.nav-item .active {
    border-color: #222831;
}

h2,
h3 {
    text-align: center;
    padding-top: 0.25em
}

.btn {
    color: #F4EDD3;
}

article,
aside {
    text-align: justify;
}

a>img {
    border: 0.5em solid #222831;
}

.carousel-item>img {
    border: 0.25em solid #222831;
}